<div class="w-100">
  <nav aria-label="..." class="nav-paginated">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link nav-component component-hidden">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link nav-component nav-active">1</a></li>
      <li class="page-item"><a class="page-link nav-component">2</a></li>
      <li class="page-item"><a class="page-link nav-component">3</a></li>
      <li class="page-item"><a class="page-link nav-component">4</a></li>
      <li class="page-item"><a class="page-link nav-component component-hidden">5</a></li>
      <li class="page-item"><a class="page-link nav-component component-hidden">6</a></li>
      <li class="page-item"><a class="page-link nav-component">...</a></li>
      <li class="page-item"><a class="page-link nav-component">51</a></li>
      <li class="page-item"><a class="page-link nav-component">52</a></li>
      <li class="page-item">
        <a class="page-link nav-component component-hidden">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
