.nav-active{
  background-color: #cbd325;
}

.nav-component{
  border: 0;
  border-radius: 50px;
  color: #006666;
  font-size: 3.6vh;
  height: 40px;
  margin-right: 40px;
}

.nav-paginated{
  margin-top: 4%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 1101px){
  .component-hidden{
    display: none;
  }
  .nav-component{
    font-size: 150%;
    height: 40px;
    margin-right: 5px;
  }
  .nav-paginated{
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
