<div class="div-front">
  <div class="row div-form-1">
  <h1 class="titulo-inicio Montserrat-ExtraBold">Encuentra tu próximo espacio</h1>
  <h5 class="texto-inicio Montserrat-Medium">Descubre casas, departamentos, locales, oficinas y terrenos para compra y renta</h5>

  <div class="row div-form">
    <div class="col-md-6">
      <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Mínimo">
    </div>
    <div class="col-md-6">
      <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Máximo">
      <!--<label for="range">Rango precio</label><br>
      <input type="range" id="range" class="" min="0" max="1000000" value="0" oninput="this.nextElementSibling.value = this.value">
      <output> </output>-->
    </div>
  </div>
  </div>

  <div class="row div-form-1">
  <div class="row div-form">
    <div class="col-md-6">
      <select class="select-inicio Montserrat-Medium" required>
        <option selected="" disabled="" hidden="" value="-1">Municipio</option>
        <option value="Zapopan">Zapopan</option>
        <option value="Tlaquepaque">Tlaquepaque</option>
        <option value="Tonalá">Tonalá</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="select-inicio Montserrat-Medium" required>
        <option selected="" disabled="" hidden="" value="-1">Colonia</option>
        <option value="Colonia 1">Colonia 1</option>
        <option value="Colonia 2">Colonia 2</option>
        <option value="Colonia 3">Colonia 3</option>
        <option value="Otro">Otra</option>
      </select>
    </div>
  </div>

    <div class="div-checkboxes">
      <div class="div-subcheck">
      <input class="checkbox-formulario" type="checkbox">
      <span class="text-chbx">Casa</span>
      </div>

      <div class="div-subcheck">
      <input class="checkbox-formulario" type="checkbox">
      <span class="text-chbx">Depa</span>
      </div>

      <div class="div-subcheck">
      <input class="checkbox-formulario" type="checkbox">
      <span class="text-chbx">Terreno</span>
      </div>

      <div class="div-subcheck">
      <input class="checkbox-formulario" type="checkbox">
      <span class="text-chbx">Pre-venta</span>
      </div>
    </div>

  <div style="text-align: center">
  <button type="submit" class="btn_buscar Montserrat-Bold">BUSCAR</button><br>
  </div>
  <span class="span-b1 Montserrat-Medium">¿No encontraste lo que buscabas? <a href="https://wa.me/+523313668572" target="_blank" class="span-link Montserrat-Bold">¡Contáctanos!</a></span>

  </div>

</div>
