<h1 class="titulo Montserrat-Bold">Con Espacio Asesores, compra con total tranquilidad</h1>
<a class="link Montserrat">Inicia comunicación con un asesor <a class="flecha">→</a></a>

<div class="row div1-b4">
  <div class="col-md-4">
    <img class="img-b4" src="../../../../assets/hogar/VISTA.WEB.ESPACIO-07.svg">
    <p class="p-titulo-b4 Montserrat-BoldItalic">Contrato de <br>protección</p>
    <p class="p-texto-b4 Montserrat">Cuidamos tu tiempo y dinero.<br>
      firma de contratos de <br>
      compraventa que garantices <br>
      tu operación.</p>
  </div>
  <div class="col-md-4">
    <img class="img-b4" src="../../../../assets/hogar/VISTA.WEB.ESPACIO-06.svg">
    <p class="p-titulo-b4 Montserrat-BoldItalic">Opciones de <br>cancelación felxibles</p>
    <p class="p-texto-b4 Montserrat">Cuidamos tu tiempo y dinero. <br>
      firma de contratos de <br>
      compraventa que garantices <br>
      tu operación.</p>
  </div>
  <div class="col-md-4">
    <img class="img-b4" src="../../../../assets/hogar/VISTA.WEB.ESPACIO-05.svg">
    <p class="p-titulo-b4 Montserrat-BoldItalic">Servicio al cliente 24/7</p><br class="br-hidden">
    <p class="p-texto-b4 Montserrat">Habla con nuestro equipo de <br>
      atención al cliente estés donde <br>
      estés y a cualquier hora.</p>
  </div>
</div>
<div class="div2-b4">
  <h1 class="titulo Montserrat-Bold">Que dicen de nosotros</h1>
  <a class="link Montserrat">Envíanos tu opinión <a class="flecha">→</a></a>

  <div id="carouselExampleControls" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active div-padding">
          <span class="d-block w-100 span-carousel-b4 Montserrat">
            Me encantó mi casa, muy buena ubicación vs precio, <br class="br-hidden">
            cerca de los autobuses y buenaseguridad, el asesor de <br class="br-hidden">
            espacio nos dió muy buenos consejos, ya que nunca <br class="br-hidden">
            habíamos comprado una casa<br>
          </span>
      </div>
      <div class="carousel-item div-padding">
          <span class="d-block w-100 span-carousel-b4 Montserrat">
            Me encantó mi casa, muy buena ubicación vs precio, <br class="br-hidden">
            cerca de los autobuses y buenaseguridad, el asesor de <br class="br-hidden">
            espacio nos dió muy buenos consejos, ya que nunca <br class="br-hidden">
            habíamos comprado una casa<br>
          </span>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
