.footer-b4{
  background-color: #dedfc4;
  height: 40%;
}

.div2-b5{
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  width: 100%;
}

.div3-b5 {
  padding: 3% 5%;
  text-align: left;
  width: 100%;
}

.hr-footer-b5{
  height: 2px;
  background-color: #2c2c2c;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  opacity: 100%;
}

.img-footer{
  height: 100px;
  width: 100px;
}

.input-footer{
  border-color: #606060;
  border-radius: 50px;
  border-width: 2px;
  padding: 10px 20px;
  width: 60%;
  background-color: #dedfc4;
}

.link-footer{
  color: #606060 !important;
}

.margin-top{
  margin-top: 5%;
}

.p2-footer-b5{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.p3-footer-b5{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  font-weight: bold;
}

@media only screen and (max-width: 1101px){
  .col-footer-12 {
    flex: 0 0 auto;
    padding-top: 7%;
    width: 100%;
  }
  .col-footer-6 {
    flex: 0 0 auto;
    padding-bottom: 7%;
    width: 50%;
  }
}
