<div class="footer-b4">
  <div class="div2-b5 row">
    <div class="col">
      <img class="img-footer" src="../../../assets/footer-logo.png">
    </div>
    <div class="col-10">

    </div>
  </div>
  <div class="div2-b5 row">
    <div class="col">
      <p class="p2-footer-b5"> <a class="link-footer" routerLink="">Home</a></p>
      <p class="p2-footer-b5"> <a class="link-footer" routerLink="/compra">Compra</a></p>
      <p class="p2-footer-b5"> <a class="link-footer" routerLink="/vende">Vende</a></p>
    </div>
    <div class="col">
      <p class="p2-footer-b5"><a class="link-footer" routerLink="/remodela">Remodela</a></p>
      <p class="p2-footer-b5"><a class="link-footer" routerLink="/financiamiento">Financiamiento</a></p>
      <p class="p2-footer-b5"><a class="link-footer" routerLink="/blog">Blog</a></p>
    </div>
    <div class="col-3 col-footer-12">
      <p class="p2-footer-b5">¡Contáctanos!</p>
      <p class="p2-footer-b5">mail: contacto@easesores.com</p>
      <p class="p2-footer-b5">WhatsApp: 33 13 66 85 72</p>
    </div>
    <div class="col-6 col-footer-12">
      <p class="p3-footer-b5">Recibe Ofertas únicas para inversionistas</p>
      <p class="p2-footer-b5">Suscríbete a nuestro newsletter</p>
      <input class="input-footer" type="text">
    </div>
  </div>

  <hr class="hr-footer-b5">

  <div class="div3-b5 row">
    <div class="col-3 col-footer-6"><p class="p2-footer-b5">Términos y Condiciones</p></div>
    <div class="col-3 col-footer-6"><p class="p2-footer-b5">Políticas de privacidad</p></div>
    <div class="col-6 col-footer-12"><p class="p2-footer-b5">ESPACIOS ASESORIALES. Todos los derechos reservados. © 2022</p></div>
  </div>

</div>
