<div class="footer-b4">
  <div class="div2-b5 row">
    <div class="col">
      <a href="/"><img class="img-footer" src="../../../assets/footer/footer-logo.png"></a>
    </div>
    <div class="col-10">

    </div>
  </div>
  <div class="div2-b5 row">
    <div class="col">
      <p class="p2-footer-b5 Montserrat"> <a class="link-footer" routerLink="/">Home</a></p>
      <p class="p2-footer-b5 Montserrat"> <a class="link-footer" routerLink="/compra">Compra</a></p>
      <p class="p2-footer-b5 Montserrat"> <a class="link-footer" routerLink="/vende">Vende</a></p>
    </div>
    <div class="col">
      <p class="p2-footer-b5 Montserrat"><a class="link-footer" routerLink="/remodela">Remodela</a></p>
      <p class="p2-footer-b5 Montserrat"><a class="link-footer" routerLink="/financiamiento">Financiamiento</a></p>
      <p class="p2-footer-b5 Montserrat"><a class="link-footer" routerLink="/blog">Blog</a></p>
    </div>
    <div class="col-4 col-footer-12 margin-left">
      <p class="p2-footer-b5 Montserrat">¡Contáctanos!</p>
      <p class="p2-footer-b5 Montserrat"><a class="link-footer" href="mailto:contacto@easesores.com">Mail: contacto@easesores.com</a></p>
      <p class="p2-footer-b5 Montserrat"><a class="link-footer" href="https://wa.me/+523313668572">WhatsApp: 33 13 66 85 72</a></p>
    </div>
    <div class="col-5 col-footer-12">
      <p class="p2-footer-b5 Montserrat p3-footer-b5">Recibe Ofertas únicas para inversionistas</p>
      <p class="p2-footer-b5 Montserrat">Suscríbete a nuestro newsletter</p>
      <input class="input-footer" type="text">
    </div>
  </div>

  <hr class="hr-footer-b5">

  <div class="div3-b5 row">
    <div class="col-2 col-footer-6"><p class="font-70 Montserrat">Términos y Condiciones</p></div>
    <div class="col-5 col-footer-6"><p class="font-70 Montserrat">Políticas de privacidad</p></div>
    <div class="col col-footer-12"><p class="font-70 Montserrat">ESPACIOS ASESORIALES. Todos los derechos reservados. © 2022</p></div>
  </div>

</div>
