<div class="div1 w-100">
  <h1 class="titulo1 Montserrat-ExtraBold">¿Buscas otro servicio?</h1>

    <div class="w-100 div2 div-responsive">
        <img class="filtro" src="../../../../assets/yellow-filter.png">
      <div class="div-general">
        <a href="/compra">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Compra</span></div>
        <img class="img-b4" src="../../../../assets/colocando-baldosas.jpg">
        </a>
      </div>
      <div class="div-general">
        <a href="/remodela">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Financiamiento</span></div>
        <img class="img-b4" src="../../../../assets/reparacion-tuberia.jpg">
        </a>
      </div>
      <div class="div-general">
        <a href="/remodela">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Renta</span></div>
        <img class="img-b4" src="../../../../assets/carpintero.jpg">
        </a>
      </div>
    </div>

</div>
