<div class="div1 w-100">
  <h1 class="titulo1 Montserrat-ExtraBold">¿Buscas otro servicio?</h1>

    <div class="w-100 div2 div-responsive">
      <div class="div-general">
        <a href="/compra">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Compra</span></div>
          <img class="filtro" src="../../../../assets/remodela/yellow-filter.png">
          <img class="img-b4" src="../../../../assets/remodela/male-tiler-using-trowel-laying-marble-tile-with-cement-in-bathroom-housing-development-interior-improvement-renovation.jpg">
        </a>
      </div>
      <div class="div-general">
        <a href="/remodela">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Financiamiento</span></div>
          <img class="filtro" src="../../../../assets/remodela/yellow-filter.png">
          <img class="img-b4" src="../../../../assets/remodela/hands-of-professional-plumber-fixing-pipes-plumbing-repair-service.jpg">
        </a>
      </div>
      <div class="div-general">
        <a href="/vende">
        <div class="marca-agua div-texto w-100"></div>
        <div class="div-texto w-100"><span class="Montserrat-ExtraBold texto1">Vende</span></div>
          <img class="filtro" src="../../../../assets/remodela/yellow-filter.png">
          <img class="img-b4" src="../../../../assets/remodela/male-carpenter-cuts-wood-with-an-electric-jigsaw-working-with-tree.jpg">
        </a>
      </div>
    </div>

</div>
