.btn-siguiente{
  display: block;
  border: 0;
  border-radius: 50px;
  padding: 1.4vh 20px;
  margin: 4vh auto;
  width: 20%;
  font-family: Montserrat-Bold;
  font-size: 3vh;
  color: #006666;
  background-color: #cbd325;
}

.checkbox-formulario{
  border-color: lightgrey;
  border-radius: 50px;
  width: 3vh;
  height: 3vh;
}

.div1{
  text-align: center;
  padding: 4vh 0;
}

.div2{
  margin: 0 auto;
  text-align: left;
  padding: 4vh 0;
  width: 45%;
}

.input-formulario{
  border: 0;
  border-radius: 50px;
  font-size: 3vh;
  width: 100%;
  height: 6.4vh;
  margin-bottom: 3vh;
  background-color: lightgray;
}

.input-formulario:focus{
  outline-color: #FF6633;
}

.numero{
  font-size: 12vh;
  color: white;
  background-color: #006666;
  border: 0;
  border-radius: 50%;
}

.select-formulario{
  border: 0;
  border-radius: 10px;
  font-size: 3vh;
  float: none;
  overflow: hidden;
  height: 6.4vh;
  width: inherit;
  margin-left: 3vh;
  margin-bottom: 3vh;
  background-color: lightgray;
  color: white;
}

.select-formulario:focus{
  outline-color: #FF6633;
}

.textarea-formulario{
  font-size: 2.5vh;
  border-radius: 10px;
  background-color: lightgrey;
  border: 0;
  width: 100%;
  height: 25vh;
}

.textarea-formulario:focus{
  outline-color: #FF6633;
}

.texto1{
  line-height: 2.5;
  font-size: 3.5vh;
  color: gray;
}

.texto2{
  font-size: 3vh;
}

.titulo1{
  color: #006666;
  font-size: 6vh;
}

@media only screen and (max-width: 1101px) {
  .titulo1 {
    font-size: 130%;
    margin-left: 0;
    padding-top: 0;
  }
}
