.checkbox-formulario{
  border-color: lightgrey;
  border-radius: 50px;
  width: 3vh;
  height: 3vh;
}

.div1{
  text-align: center;
  padding: 4vh 0;
}

.div2{
  margin: 0 auto;
  text-align: left;
  padding: 4vh 0;
  width: 45%;
}

.numero{
  font-size: 12vh;
  color: white;
  background-color: #006666;
  border: 0;
  border-radius: 50%;
  display: inline;
}

.select-formulario{
  border: 0;
  border-radius: 10px;
  font-size: 3vh;
  height: 6.4vh;
  width: inherit;
  margin-left: 3vh;
  background-color: lightgray;
  color: white;
}

.select-formulario:focus{
  outline-color: #FF6633;
}

.textarea-formulario{
  font-size: 2.5vh;
  border-radius: 10px;
  background-color: lightgrey;
  border: 0;
  width: 100%;
  height: 25vh;
}

.textarea-formulario:focus{
  outline-color: #FF6633;
}

.texto1{
  line-height: 2.5;
  font-size: 3.5vh;
  color: gray;
}

.titulo1{
  color: #006666;
  font-size: 6vh;
}

@media only screen and (max-width: 1101px) {
  .checkbox-formulario{
    width: 2.5vh;
    height: 2.5vh;
    margin: auto 1vh;
  }
  .div2{
    padding: 1vh 0;
    width: 95%;
  }
  .numero{
    font-size: 300%;
  }
  .select-formulario{
    height: 4vh;
    font-size: 110%;
    width: auto;
    margin-left: 1vh;
  }
  .texto1{
    font-size: 110%;
  }
  .textarea-formulario{
    height: 10vh;
  }
  .titulo1 {
    font-size: 130%;
    margin-left: 0;
    padding-top: 0;
  }
}
