<div class="div1 w-100">
  <form method="" action="" class="">
    <span class="numero Montserrat-ExtraBold">2</span>

    <h1 class="titulo1 Montserrat-ExtraBold">¿Cuál es tu idea?</h1>

    <div class="div2">
      <p class="Montserrat texto1">¿Qué servicio requieres?</p>

      <label class="Montserrat texto1" for="descripcion">Conocer</label>
      <input type="checkbox" id="descripcion" class="checkbox-formulario mx-4">

      <label class="Montserrat texto1" for="zona">Remodela</label>
      <select name="zona" id="zona" class="select-formulario">
        <option disabled selected>¿Qué zona?</option>
        <option value="Guadalajara">Guadalajara</option>
        <option value="Tlaquepaque">Tlaquepaque</option>
        <option value="Tonala">Tonalá</option>
        <option value="Zapopan">Zapopan</option>
        <option value="Otro">Otro</option>
      </select>

      <p class="Montserrat texto1">¿Quieres compartir más información?</p>
      <textarea class="textarea-formulario"></textarea>

    </div>
  </form>

</div>
<p>formulario2 works!</p>
