<header class="toolbar fixed-top" role="banner">
  <img
    width="15%"
    alt="Angular Logo"
    src="../assets/VISTA.WEB.ESPACIO-04.svg"
  />
  <a class="nav-item" routerLink="" aria-expanded="false">
    Home
  </a>
  <a class="nav-item" routerLink="/compra" aria-expanded="false">
    Compra
  </a>
  <a class="nav-item" routerLink="/vende" aria-expanded="false">
    Vende
  </a>
  <a class="nav-item" routerLink="/remodela" aria-expanded="false">
    Remodela
  </a>
  <a class="nav-item" routerLink="/financiamiento" aria-expanded="false">
    Financiamiento
  </a>
</header>
