<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="a-img" routerLink="" aria-expanded="false">
      <img class="img-header" alt="" src="../assets/VISTA.WEB.ESPACIO-04.svg">
    </a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav">
            <a class="item-style" routerLink="" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}"aria-expanded="false">Home</a>
          </li>
          <li class="nav-item nav">
            <a class="item-style" routerLink="/compra" routerLinkActive="activo" aria-expanded="false">Compra</a>
          </li>
          <li class="nav-item nav">
            <a class="item-style" routerLink="/vende" routerLinkActive="activo" aria-expanded="false">Vende</a>
          </li>
          <li class="nav-item nav">
            <a class="item-style" routerLink="/remodela" routerLinkActive="activo" aria-expanded="false">Remodela</a>
          </li>
          <li class="nav-item nav">
            <a class="item-style" routerLink="/financiamiento" routerLinkActive="activo" aria-expanded="false">Financiamiento</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
