<div class="div1 w-100">
  <form method="" action="" class="">
    <span class="numero Montserrat-ExtraBold">3</span>

    <h1 class="titulo1 Montserrat-ExtraBold">Día de la cita</h1>

    <div class="div2">
      <p class="Montserrat-Medium texto1">
        Será un placer concluir tu interés de renovar o construir tu<br class="br-hidden">
        vivienda en nuestras oficinas, ¿Qué día te gustaría visitarnos?
      </p>

      <div class="calendario my-5 mx-auto">
        <h1 class="texto2"><a class="flecha">←</a> Octubre <a class="flecha">→</a></h1>
        <div class="fechas">
        <ol>
          <li class="day-name">D</li>
          <li class="day-name">L</li>
          <li class="day-name">M</li>
          <li class="day-name">M</li>
          <li class="day-name">J</li>
          <li class="day-name">V</li>
          <li class="day-name">S</li>

          <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
          <li class="first-day">1</li>
          <li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
          <li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li>
          <li>17</li><li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li>
          <li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li><li>30</li>
          <li>31</li>
          <!-- ... -->
          <li>31</li>
        </ol>
        </div>

        <label for="horario" class="texto1">Horario</label>
        <select name="horario" id="horario" class="select-formulario">
          <option selected value="9am">9:00 am</option>
          <option value="10am">10:00 am</option>
          <option value="11am">11:00 am</option>
          <option value="12pm">12:00 pm</option>
          <option value="1pm">1:00 pm</option>
          <option value="2pm">2:00 pm</option>
          <option value="3pm">3:00 pm</option>
        </select>

      </div>

    </div>
  </form>

</div>

<div class="div3 w-100">
  <button type="button" class="btn-cita">Agenta tu cita</button>
</div>
