.div1-b1{
  margin: 3.8vh 0;
  padding: 0 7%;
}

.div-b2{
  text-align: left;
  vertical-align: middle;
  margin: 10% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.div1-b2{
  padding: 0 0 0 4vw;
}

.div2-b2{
  border-radius: 50px;
  background-color: #606060;
  height: 70vh;
  width: 80%;
}

.img-icono{
  width: 12%;
  margin: auto 3vh;
}

.p-b2{
  font-size: 2.4vh;
  margin: 1vh 0 0 8vw;
}

.texto1{
  color: #606060;
  font-size: 8vh;
}

.texto2{
  color: #606060;
  font-size: 4.8vh;
}

.texto3{
  display: inline;
  font-size: 3vh;
}

.titulo1{
  color: #006666;
  font-size: 8vh;
  text-align: left;
}

@media only screen and (max-width: 1101px) {

  .div1-b1{
    margin: 0 0;
  }
  .div2-b2{
    height: 40vh;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .div1-b2{
    padding: 0;
  }
  .img-icono{
    width: 12%;
    margin: 0 7px;
  }
  .p-b2{
    font-size: 60%;
    margin: 0 0 0 8vw;
  }
  .texto1{
    font-size: 110%;
  }
  .texto2{
     font-size: 100%;
   }
  .texto3{
    font-size: 1vh;
  }
  .titulo1 {
    font-size: 150%;
  }
}
