<div class="w-100">
  <div class="div1-b1">
    <h1 class="titulo1 Montserrat-ExtraBold">$1,920,000 MXN</h1>
    <p class="texto1 Montserrat-bold">Cto. Real de Tesistán, Residencial Tesistán</p>
    <p class="texto2 Montserrat-bold">Residencial Tesistán, Zapopan, Jalisco</p>
  </div>

  <div>
    <div class="div-b2 row w-100">
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-20.svg">
        <h3 class="Montserrat-Bold texto3">3 Recámaras</h3>
      </div>
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-19.svg">
        <h3 class="Montserrat-Bold texto3">3 Baños</h3>
      </div>
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-21.svg">
        <h3 class="Montserrat-Bold texto3">2 Estacionamientos</h3>
      </div>
    </div>

    <div class="div-b2 w-100">
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-17.svg">
        <h3 class="Montserrat-Bold texto3">10 años</h3>
        <p class="p-b2 Montserrat-bold">Antigüedad</p>
      </div>
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-18.svg">
        <h3 class="Montserrat-Bold texto3">167 m2</h3>
        <p class="p-b2 Montserrat-bold">Construcción</p>
      </div>
      <div class="div1-b2">
        <img class="img-icono" src="../../../../assets/inmueble/ICONOS%20EASESORES-18.svg">
        <h3 class="Montserrat-Bold texto3">96 m2</h3>
        <p class="p-b2 Montserrat-bold">Superficie</p>
      </div>
    </div>

  </div>

  <div class="div1-b1">
    <p class="texto1 Montserrat">Características</p>
    <p class="texto2 Montserrat mb-4"> Lorem Ipsum </p>
    <p class="texto1 Montserrat">Ubicación</p>

    <div class="w-100 my-4">
      <div class="div2-b2 mx-auto"></div>
    </div>

  </div>


</div>
