.div1-b1{
  margin: 3.8vh 0;
  padding: 0 7%;
}

.div-b2{
  text-align: center;
  vertical-align: middle;
  margin: 5% 0;
}

.div2-b2{
  border-radius: 50px;
  background-color: #606060;
  height: 70vh;
  width: 80%;
}

.p-b2{
  font-color: solid #b4b4b4;
  font-size: 2.4vh;
  margin-top: 4%;
}

.texto1{
  color: #606060;
  font-size: 8vh;
}

.texto2{
  color: #606060;
  font-size: 4.8vh;
}

.texto3{
  font-size: 3vh;
}

.titulo1{
  color: #006666;
  font-size: 8vh;
  text-align: left;
}

@media only screen and (max-width: 1101px) {

  .div1-b1{
    margin: 0 0;
  }
  .div2-b2{
    height: 40vh;
    width: 100%;
  }
  .texto1{
    font-size: 110%;
  }
  .texto2{
     font-size: 100%;
   }
  .texto3{
    font-size: 2vh;
  }
  .titulo1 {
    font-size: 150%;
  }
}
