.div-back{
  border-radius: 50px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 65%;
  alignment: right;
  display: inline-block;
  position: absolute; right: 5%; top: 18%;
  z-index: 1;
}

.div-b3{
  padding-bottom: 2%;
}

.div1-b4{
  text-align: center;
  width: 100%;
  margin-bottom: 4%;
}

.div2-b4{
  background-color: #dedfc4;
  height: 70%;
  width: 100%;
}

.img-b4{
  height: 50%;
  width: 50%;
}

.link-b3{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 170%;
  font-weight: 100;
  padding-left: 5%;
  text-decoration: none;
}

.link-b4{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 170%;
  font-weight: 100;
  padding-left: 5%;
  text-decoration: none;
}

.p-titulo-b4{
  color: #006666;
  font-family: "OpenSans", 'sans-serif';
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}

.p-texto-b4{
  color: #606060;
  font-family: Arial;
  font-size: 120%;
  line-height: 100%;
}

.section-1{
  text-align: center;
  padding-top: 10%;
}

.section-3{
  text-align: left;
  padding-top: 48%;
}

.section-4{
  text-align: left;
}

.span-carousel-b4{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 170%;
  line-height: 120%;
  padding-bottom: 4%;
  padding-top: 3%;
  text-align: center;
}

.titulo-b3{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 250%;
  font-weight: bold;
  padding-left: 5%;
}

.titulo-b4{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 230%;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 5%;
}
