<section class="content w-100 section-1" role="main">
  <div class="div-back">
    <!--<img style='height: 100%; width: 100%; object-fit: contain; border-radius: 50px;' src="../assets/background.jpg"/>-->
  </div>
  <div class="div-front">
    <h1 class="titulo-inicio">Encuentra tu próximo espacio</h1>
    <h5 class="texto-inicio">Descubre casas, departamentos, locales, oficinas y terrenos para compra y renta</h5>

    <div class="row div-form">
      <div class="col-md-6">
        <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Mínimo">
      </div>
      <div class="col-md-6">
        <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Máximo">
        <!--<label for="range">Rango precio</label><br>
        <input type="range" id="range" class="" min="0" max="1000000" value="0" oninput="this.nextElementSibling.value = this.value">
        <output> </output>-->
      </div>
    </div>
    <div class="row div-form">
      <div class="col-md-6">
        <select class="select-inicio" required>
          <option selected="" disabled="" hidden="" value="-1">Municipio</option>
          <option value="Zapopan">Zapopan</option>
          <option value="Tlaquepaque">Tlaquepaque</option>
          <option value="Tonalá">Tonalá</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="select-inicio" required>
          <option selected="" disabled="" hidden="" value="-1">Colonia</option>
          <option value="Colonia 1">Colonia 1</option>
          <option value="Colonia 2">Colonia 2</option>
          <option value="Colonia 3">Colonia 3</option>
          <option value="Otro">Otra</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn_buscar">BUSCAR</button><br>
    <span class="span-b1">¿No encontraste lo que buscabas? <a href="#" class="span-link">¡Contáctanos!</a></span>

  </div>

</section>

<section class="content w-100 section-2" role="main">
  <div class="div-back-b2">
    <div class="div-middle-b2"></div>
    <div class="div-front-b2">
      <h1 class="titulo-b2">¡Anímate a tener <br>tu propio espacio!</h1>
      <br>
      <h5 class="texto-b2">Tienes dudas o no has podido encontrar el inmueble<br>
        perfecto, contáctanos, uno de nuestros asesores te<br>
        brindará el apoyo que necesitas <span class="span-b2">¡sin costo!</span></h5>
      <br>
      <button type="button" class="btn_whatsapp">WHATSAPP</button>
    </div>
  </div>

</section>

<section class="section-3">

  <h1 class="titulo-b3">¡Mira estas propiedades, te podrían interesar!</h1>
  <a class="link-b3" href="#">Explora más inmuebles <a style="font-size: xx-large">→</a></a>

  <div class="div1-b3">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/departamentos.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/grassland.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
  </div>

  <div class="div2-b3">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/bedroom.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/backyard.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/livingroom.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
  </div>

</section>

<section class="section-4">

  <h1 class="titulo-b4">Con Espacio Asesores, compra con total tranquilidad</h1>
  <a class="link-b4" href="#">Inicia comunicación con un asesor<a style="font-size: xx-large">→</a></a>

  <div class="row div1-b4">
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-07.svg">
      <p class="p-titulo-b4">Contrato de <br>protección</p>
      <p class="p-texto-b4">Cuidamos tu tiempo y dinero.<br>
        firma de contratos de<br>
        compraventa que garantices<br>
        tu operación.</p>
    </div>
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-06.svg">
      <p class="p-titulo-b4">Opciones de <br>cancelación felxibles</p>
      <p class="p-texto-b4">Cuidamos tu tiempo y dinero.<br>
        firma de contratos de<br>
        compraventa que garantices<br>
        tu operación.</p>
    </div>
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-05.svg">
      <p class="p-titulo-b4">Servicio al cliente 24/7</p><br>
      <p class="p-texto-b4">Habla con nuestro equipo de<br>
        atención al cliente estés donde<br>
        estés y a cualquier hora.</p>
    </div>
  </div>
  <div class="div2-b4">
    <h1 class="titulo-b4">Que dicen de nosotros</h1>
    <a class="link-b4" href="#">Envíanos tu opinión<a style="font-size: xx-large">→</a></a>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span class="d-block w-100 span-carousel-b4">
            Me encantó mi casa, muy buena ubicación vs precio,<br>
            cerca de los autobuses y buenaseguridad, el asesor de<br>
            espacio nos dió muy buenos consejos, ya que nunca<br>
            habíamos comprado una casa<br>
          </span>
        </div>
        <div class="carousel-item">
          <span class="d-block w-100 span-carousel-b4">
            Me encantó mi casa, muy buena ubicación vs precio,<br>
            cerca de los autobuses y buenaseguridad, el asesor de<br>
            espacio nos dió muy buenos consejos, ya que nunca<br>
            habíamos comprado una casa<br>
          </span>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

</section>

<section class="section-4">

  <h1 class="titulo-b4">Nuestro instagram</h1>
  <a class="link-b4" href="#">Visita nuestra cuenta<a style="font-size: xx-large">→</a></a>

  <div class="w-100 div1-b5">
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery2.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery3.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery4.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery2.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery3.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery4.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery2.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery3.jpg">
    </div>
    <div class="div1-1-b5">
      <img class="img-b5" src="../../../assets/gallery4.jpg">
    </div>
  </div>

  <div class="footer-b4">
    <div class="div2-b5 row">
      <div class="col">
        <img src="../../../assets/VISTA.WEB.ESPACIO-11.svg">
        <p class="p2-footer-b5">Home</p>
        <p class="p2-footer-b5">Compra</p>
        <p class="p2-footer-b5">Vende</p>
      </div>
      <div class="col">
        <p class="p1-footer-b5 p2-footer-b5">Remodela</p>
        <p class="p2-footer-b5">Financiamiento</p>
        <p class="p2-footer-b5">Blog</p>
      </div>
      <div class="col-3">
        <p class="p1-footer-b5 p2-footer-b5">¡Contáctanos!</p>
        <p class="p2-footer-b5">mail: contacto@easesores.com</p>
        <p class="p2-footer-b5">WhatsApp: 33 13 66 85 72</p>
      </div>
      <div class="col-6">
        <p class="p3-footer-b5">Recibe Ofertas únicas para inversionistas</p>
        <p class="p2-footer-b5">Suscríbete a nuestro newsletter</p>
        <input class="input-footer" type="text">
      </div>
    </div>

    <hr class="hr-footer-b5">

    <div class="div3-b5 row">
      <div class="col-3"><p class="p2-footer-b5">Términos y Condiciones</p></div>
      <div class="col-3"><p class="p2-footer-b5">Políticas de privacidad</p></div>
      <div class="col-6"><p class="p2-footer-b5">ESPACIOS ASESORIALES. Todos los derechos reservados. © 2022</p></div>
    </div>

  </div>

</section>
