.div-b3{
  padding-bottom: 2%;
}

.flecha{
  font-size: 170%;
  color: #606060;
}

.link-b3{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 170%;
  font-weight: 100;
  padding-left: 5%;
  text-decoration: none;
}

.section-1{
  text-align: center;
  padding-top: 10%;
}

.section-3{
  text-align: left;
  padding-top: 48%;
}

.section-4{
  text-align: left;
}

.titulo-b3{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 250%;
  font-weight: bold;
  padding-left: 5%;
}

@media only screen and (max-width: 1101px){
  .flecha{
    font-size: 120%;
  }
  .link-b3{
    font-size: 120%;
  }
  .section-3{
    margin-top: 60%;
  }
  .titulo-b3{
    font-size: 170%;
  }
}
