<section class="content w-100 section-1" role="main">
<app-background-hogar></app-background-hogar>
<app-formulario-hogar></app-formulario-hogar>
</section>

<app-banner2-hogar></app-banner2-hogar>

<section class="section-3">
  <div class="w-100 div-b3">
    <h1 class="titulo-b3">¡Mira estas propiedades, te podrían interesar!</h1>
    <a class="link-b3" href="#">Explora más inmuebles <a style="font-size: xx-large">→</a></a>
  </div>
<app-casas></app-casas>
</section>

<section class="section-4">
<app-banner4-hogar></app-banner4-hogar>
</section>

<section class="section-4">
<app-tira-imagenes></app-tira-imagenes>
<app-footer></app-footer>
</section>
