<section class="content w-100 section-1" role="main">
  <div class="div-back">
    <!--<img style='height: 100%; width: 100%; object-fit: contain; border-radius: 50px;' src="../assets/background.jpg"/>-->
  </div>
<app-formulario-hogar></app-formulario-hogar>

</section>

<app-banner2-hogar></app-banner2-hogar>

<section class="section-3">

  <div class="w-100 div-b3">
    <h1 class="titulo-b3">¡Mira estas propiedades, te podrían interesar!</h1>
    <a class="link-b3" href="#">Explora más inmuebles <a style="font-size: xx-large">→</a></a>
  </div>
<app-casas></app-casas>

</section>

<section class="section-4">

  <h1 class="titulo-b4">Con Espacio Asesores, compra con total tranquilidad</h1>
  <a class="link-b4" href="#">Inicia comunicación con un asesor<a style="font-size: xx-large">→</a></a>

  <div class="row div1-b4">
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-07.svg">
      <p class="p-titulo-b4">Contrato de <br>protección</p>
      <p class="p-texto-b4">Cuidamos tu tiempo y dinero.<br>
        firma de contratos de<br>
        compraventa que garantices<br>
        tu operación.</p>
    </div>
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-06.svg">
      <p class="p-titulo-b4">Opciones de <br>cancelación felxibles</p>
      <p class="p-texto-b4">Cuidamos tu tiempo y dinero.<br>
        firma de contratos de<br>
        compraventa que garantices<br>
        tu operación.</p>
    </div>
    <div class="col-md-4">
      <img class="img-b4" src="../../../assets/VISTA.WEB.ESPACIO-05.svg">
      <p class="p-titulo-b4">Servicio al cliente 24/7</p><br>
      <p class="p-texto-b4">Habla con nuestro equipo de<br>
        atención al cliente estés donde<br>
        estés y a cualquier hora.</p>
    </div>
  </div>
  <div class="div2-b4">
    <h1 class="titulo-b4">Que dicen de nosotros</h1>
    <a class="link-b4" href="#">Envíanos tu opinión<a style="font-size: xx-large">→</a></a>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span class="d-block w-100 span-carousel-b4">
            Me encantó mi casa, muy buena ubicación vs precio,<br>
            cerca de los autobuses y buenaseguridad, el asesor de<br>
            espacio nos dió muy buenos consejos, ya que nunca<br>
            habíamos comprado una casa<br>
          </span>
        </div>
        <div class="carousel-item">
          <span class="d-block w-100 span-carousel-b4">
            Me encantó mi casa, muy buena ubicación vs precio,<br>
            cerca de los autobuses y buenaseguridad, el asesor de<br>
            espacio nos dió muy buenos consejos, ya que nunca<br>
            habíamos comprado una casa<br>
          </span>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

</section>

<section class="section-4">

<app-tira-imagenes></app-tira-imagenes>

<app-footer></app-footer>

</section>
