.btn_whatsapp{
  border: 0;
  border-radius: 50px;
  padding: 1.4vh 20px;
  width: 20%;
  font-family: "Liberation Sans";
  font-weight: bold;
  font-size: 3vh;
  color: #006666;
  background-color: #cbd325;
}

.div1{
  margin-top: 3%;
  padding-bottom: 2%;
}

.imagen{
  height: 100%;
  width: 100%;
}

.search-box{
  border: 8px solid darkgrey;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-image: url("../../../assets/loupe.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60px 60px;
  height: 85%;
  outline: none;
  width: 40%;
  margin-top: 10%;
}

.search-box:focus{
  border: 8px solid #FF6633;
}

.section-2{
  text-align: left;
}

.section-general{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.section-3{
  background-color: #006666;
}

.section-4{
  background-color: #e0dbc5;
}

.texto1{
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.6vh;
  font-weight: bold;
  padding-left: 10%;
}

.texto-genearl{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.8vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

.texto2{
  color: white;
}

.texto3{
  color: #006666;
}

.titulo-general{
  font-family: 'Open Sans', sans-serif;
  font-size: 8.4vh;
  font-weight: bolder;
}

.titulo1{
  color: #006666;
  font-family: 'Open Sans', sans-serif;
  font-size: 6.5vh;
  font-weight: bolder;
  padding-left: 10%;
  text-align: left;
}

.titulo2{
  color: white;
}

.titulo3{
  color: #006666;
}

@media only screen and (max-width: 1101px) {
  .btn_whatsapp{
    font-size: 65%;
    padding: 10px 10px;
    margin-top: 0;
    width: 30%;
  }
  .search-box{
    background-position: center;
    background-size: 100%;
    width: 100%;
    margin-top: 35%;
  }
  .texto1{
    font-size: 90%;
    margin-left: 0;
    padding-top: 0;
  }
  .texto-genearl{
    font-size: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .titulo1{
    font-size: 150%;
    margin-left: 0;
    padding-top: 0;
  }
  .titulo-general{
    font-size: 150%;
  }
}
