<section class="content w-100 section-2" role="main">
  <div class="div-back">
    <div class="div-middle"></div>
    <div class="div-front">
      <h1 class="titulo-compra">¡Anímate a tener <br>tu propio espacio!</h1>
      <br>
      <h5 class="texto-compra">Tienes dudas o no has podido encontrar el inmueble<br>
        perfecto, contáctanos, uno de nuestros asesores te<br>
        brindará el apoyo que necesitas <span class="span-compra">¡sin costo!</span></h5>
      <br>
      <button type="button" class="btn_whatsapp">WHATSAPP</button>
    </div>
  </div>

</section>

<section class="section-3">

  <h1 class="titulo-b3">¡Mira estas propiedades, te podrían interesar!</h1>
  <a class="link-b3" href="#">Explora más inmuebles <a style="font-size: xx-large">→</a></a>

  <div class="div1-b3">
    <div class="div-general-b3 div1-1-b3">
      <div class="div-venta-b3"><p class="p-venta-b3">Venta $1,300 por m2</p></div>
    </div>
    <div class="div-general-b3 div1-2-b3">
      <div class="div-venta-b3"><p class="p-venta-b3">Venta $1,300 por m2</p></div>
    </div>
  </div>

  <div class="div2-b3">
    <div class="div-general-b3 div2-1-b3">
      <div class="div-venta-b3"><p class="p-venta-b3">Venta $1,300 por m2</p></div>
    </div>
    <div class="div-general-b3 div2-2-b3">
      <div class="div-venta-b3"><p class="p-venta-b3">Venta $1,300 por m2</p></div>
    </div>
    <div class="div-general-b3 div2-3-b3">
      <div class="div-venta-b3"><p class="p-venta-b3">Venta $1,300 por m2</p></div>
    </div>
  </div>

</section>

<section class="section-4">

</section>
