<section class="content w-100">

  <div class="w-100 row">
    <div class="col-10">
      <h1 class="titulo1">Encuentra propiedades en<br>Jalisco y Área Metropolitana</h1>
      <span class="texto1">7615 Resultados encontrados</span>
    </div>
    <div class="col-2">
      <input type="search" class="search-box">
    </div>
  </div>

</section>

<section class="section-2">

<app-casas></app-casas>

<div class="section-3 section-general">
  <h1 class="titulo2 titulo-general">¿Necesitas financiamiento<br>para tu próximo hogar?</h1>
  <span class="texto2 texto-genearl">Chatea con nuesto asesor hipotecario afiliado</span>
  <button type="button" class="btn_whatsapp">WHATSAPP</button>
</div>

  <app-casas></app-casas>

  <div class="section-4 section-general">
    <h1 class="titulo3 titulo-general">¿Necesitas atención personalizada<br>para comprar, vender o rentar?</h1>
    <span class="texto3 texto-genearl">Nosotros podemos ayudarte</span>
    <button type="button" class="btn_whatsapp">AGENDA UNA CITA</button>
  </div>

  <app-casas></app-casas>

  <app-paginacion-compra></app-paginacion-compra>

 <app-footer></app-footer>

</section>
