<section class="content w-100">

  <div class="w-100 row">
    <div class="col-10">
      <h1 class="titulo1">Encuentra propiedades en<br>Jalisco y Área Metropolitana</h1>
      <span class="texto1">7615 Resultados encontrados</span>
    </div>
    <div class="col-2">
      <input type="search" class="search-box">
    </div>
  </div>

</section>

<section class="section-2">

  <div class="div1-b3">
    <div class="div-general-b3">
      <img class="imagen" src="../../../assets/departamentos.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="imagen" src="../../../assets/grassland.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
  </div>

  <div class="div2-b3">
    <div class="div-general-b3">
      <img class="imagen" src="../../../assets/bedroom.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="imagen" src="../../../assets/backyard.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
    <div class="div-general-b3">
      <img class="imagen" src="../../../assets/livingroom.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
      </div>
    </div>
  </div>

</section>
