.div1{
  text-align: center;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 2%;
}

.div2-row{
  align-items: center;
  text-align: left;
  margin-top: 5vh;
}

.div2-col{
  height: 22vh;
}

.img-b3{
  display: inline;
  height: 100%;
  object-fit: contain;
}

.titulo1{
  color: #606060;
  font-size: 8vh;
  margin-top: 5%;
  line-height: 1.5;
}

.texto1{
  color: #606060;
  font-size: 4vh;
  line-height: 1.2;
}

.texto2{
  color: #606060;
  display: inline;
  font-size: 250%;
}

@media only screen and (max-width: 1101px) {
  .btn_whatsapp {
    font-size: 70%;
    padding: 10px 10px;
    margin-top: 0;
    width: 30%;
  }
  .div2-col{
    height: 12vh;
  }
  .texto1{
    padding: 0 2%;
    font-size: 88%;
  }
  .texto2{
    font-size: 112%;
  }
  .titulo1{
    font-size: 150%;
  }
}
