<div class="div1">

  <h1 class="titulo1 Montserrat-ExtraBold">Asesoría de principio a fin</h1>
  <span class="texto1 Montserrat">Contamos con asesores inmobiliarios experimentados y las mejores <br class="br-hidden">
    estrategias que te acompañarán en todo el proceso para hacer todo más fácil.</span>

  <div>

    <div class="row div2-row">
      <div class="col-md-3"></div>
      <div class="col div2-col">
        <img class="img-b3" src="../../../../assets/EASESORES_VENDE__Mesa de trabajo 1.svg">
        <span class="texto2 Montserrat-ExtraBold">1. Recibe una opinión de valor</span>
      </div>
    </div>

    <div class="row div2-row">
      <div class="col-md-3"></div>
      <div class="col div2-col">
        <img class="img-b3" src="../../../../assets/EASESORES_VENDE_-02.svg">
        <span class="texto2 Montserrat-ExtraBold">2. Verificación y asesoría legal</span>
      </div>
    </div>

    <div class="row div2-row">
      <div class="col-md-3"></div>
      <div class="col div2-col">
        <img class="img-b3" src="../../../../assets/EASESORES_VENDE_-03.svg">
        <span class="texto2 Montserrat-ExtraBold">3. Atención Personalizada</span>
      </div>
    </div>

    <div class="row div2-row">
      <div class="col-md-3"></div>
      <div class="col div2-col">
        <img class="img-b3" src="../../../../assets/EASESORES_VENDE_-04.svg">
        <span class="texto2 Montserrat-ExtraBold">4. Promoción marketing digital</span>
      </div>
    </div>

  </div>

</div>
