<h1 class="titulo Montserrat-Bold">Nuestro instagram</h1>
<a class="link Montserrat">Visita nuestra cuenta<a class="flecha">→</a></a>

<div class="w-100 div1-b5">
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery2.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery3.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery4.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery2.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery3.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery4.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery2.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery3.jpg">
  </div>
  <div class="div1-1-b5">
    <img class="img-b5" src="../../../../assets/hogar/gallery4.jpg">
  </div>
</div>
