<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<head>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<!-- Toolbar -->
<header class="toolbar fixed-top" role="banner">
  <img
    width="10%"
    alt="Angular Logo"
    src="../assets/VISTA.WEB.ESPACIO-04.svg"
  />
  <a class="nav-link nav-item" href="#" aria-expanded="false">
    Home
  </a>
  <a class="nav-link nav-item" href="#" aria-expanded="false">
    Compra
  </a>
  <a class="nav-link nav-item" href="#" aria-expanded="false">
    Vende
  </a>
  <a class="nav-link nav-item" href="#" aria-expanded="false">
    Remodela
  </a>
  <a class="nav-link nav-item" href="#" aria-expanded="false">
    Financiamiento
  </a>

</header>

<div class="content w-100" style="text-align: center;" role="main">
  <div class="div-back">
    <!--<img style='height: 100%; width: 100%; object-fit: contain; border-radius: 50px;' src="../assets/background.jpg"/>-->
  </div>
  <div class="div-front">
    <h1 class="titulo-inicio">Encuentra tu próximo espacio</h1>
    <h5 class="texto-inicio">Descubre casas, departamentos, locales, oficinas y terrenos para compra y renta</h5>

    <div class="row div-form">
      <div class="col-md-6">
        <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Mínimo">
      </div>
      <div class="col-md-6">
        <input type="text" required class="input-inicio" pattern="[1-9]{1}[0-9]" placeholder="$Precio Máximo">
        <!--<label for="range">Rango precio</label><br>
        <input type="range" id="range" class="" min="0" max="1000000" value="0" oninput="this.nextElementSibling.value = this.value">
        <output> </output>-->
      </div>
    </div>
    <div class="row div-form">
      <div class="col-md-6">
        <select class="select-inicio" required>
          <option selected="" disabled="" hidden="" value="-1">Municipio</option>
          <option value="Zapopan">Zapopan</option>
          <option value="Tlaquepaque">Tlaquepaque</option>
          <option value="Tonalá">Tonalá</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="select-inicio" required>
          <option selected="" disabled="" hidden="" value="-1">Colonia</option>
          <option value="Colonia 1">Colonia 1</option>
          <option value="Colonia 2">Colonia 2</option>
          <option value="Colonia 3">Colonia 3</option>
          <option value="Otro">Otra</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn_buscar">BUSCAR</button>
    <br><br>
    <span >¿No encontraste lo que buscabas? <a href="#" class="span-link">¡Contactanos!</a> </span>

  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
