
<div class="div1">
  <h1 class="titulo1 Montserrat-ExtraBold">Vende tu casa en 3 pasos</h1>
  <span class="texto1 Montserrat">Tu solo recibe a nuestro agente para la toma de fotografías<br class="br-hidden">
    y firma de contrato de tu casa y recibir tu dinero</span>

  <div class="row div2">
    <div class="col">
      <span class="margin-left div2-num Montserrat-Bold">1</span>
      <div class="div2-yellow margin-left">Cita con nuestro <br>agente inmobiliario</div>
    </div>
    <div class="col">
      <span class="div2-num Montserrat-Bold">2</span>
      <div class="div2-yellow">Recibe ofertas <br>y prospectos <br>perfilados</div>
    </div>
    <div class="col">
      <span class="margin-right div2-num Montserrat-Bold">3</span>
      <div class="div2-yellow margin-right">¡Vende tu casa <br>fácil y rápido</div>
    </div>
  </div>

  <span class="texto1 Montserrat">Agendamos una cita en tu casa con uno de nuestros asesores <br class="br-hidden">
  para comenzar a vender tu casa</span>

  <button type="button" onClick="window.open('https://wa.me/+523313668572')" class="btn_whatsapp">WHATSAPP</button>

</div>
