<div class="div1 w-100">
  <form method="" action="" class="">
    <span class="numero Montserrat-ExtraBold">1</span>

    <h1 class="titulo1 Montserrat-ExtraBold">¿Cómo te contactámos?</h1>

    <div class="div2">
    <p class="Montserrat texto1">Nombre</p>
    <input type="text" required class="input-formulario">

    <p class="Montserrat texto1">Apellido</p>
    <input type="text" required class="input-formulario">

    <p class="Montserrat texto1">Teléfono</p>
    <input type="text" required class="input-formulario">

    <p class="Montserrat texto1">Correo Electrónico</p>
    <input type="text" required class="input-formulario">
    </div>

    <input type="checkbox" class="checkbox-formulario mx-2">
    <span class="Montserrat texto2">Acepto todos los términos y condiciones</span>

    <button type="button" class="btn-siguiente">Siguiente</button>
  </form>

</div>
