<div class="div1 w-100">
  <form method="" action="" name="form1" class="" id="form1">
    <div class="numero px-4"><span class="Montserrat-ExtraBold">1</span></div>

    <h1 class="titulo1 Montserrat-ExtraBold">¿Cómo te contactamos?</h1>

    <div class="div2">
    <p class="Montserrat texto1">Nombre</p>
    <input type="text" name="nombre" id="nombre" required class="input-formulario">

    <p class="Montserrat texto1">Apellido</p>
    <input type="text" name="ap" id="ap" required class="input-formulario">

    <p class="Montserrat texto1">Teléfono</p>
    <input type="text" name="tel" id="tel" required class="input-formulario">

    <p class="Montserrat texto1">Correo Electrónico</p>
    <input type="text" name="email" id="email" required class="input-formulario">
    </div>

    <input type="checkbox" name="chbox" id="chbox" class="checkbox-formulario">
    <span class="Montserrat texto2">Acepto todos los términos y condiciones</span>

    <button type="button" id="btn_siguiente" class="btn-siguiente" (click)="nextForm()">Siguiente</button>
  </form>

</div>
