<div class="div1 w-100">
  <h1 class="titulo1 Montserrat-Light">Instituciones Financieras Hipotecarias y PyMe</h1>

  <div class="div2">
    <div class="div-item"> 1 </div>
    <div class="div-item"> 2 </div>
    <div class="div-item"> 3 </div>
    <div class="div-item"> 4 </div>
    <div class="div-item"> 5 </div>
    <div class="div-item"> 6 </div>
    <div class="div-item"> 7 </div>
    <div class="div-item"> 8 </div>
    <div class="div-item"> 9 </div>
    <div class="div-item"> 10 </div>
    <div class="div-item"> 11 </div>
    <div class="div-item"> 12 </div>
    <div class="div-item"> 13 </div>
    <div class="div-item"> 14 </div>
    <div class="div-item"> 15 </div>
    <div class="div-item"> 16 </div>
    <div class="div-item"> 17 </div>
    <div class="div-item"> 18 </div>
    <div class="div-item"> 19 </div>
    <div class="div-item"> 20 </div>
    <div class="div-item"> 21 </div>
    <div class="div-item"> 22 </div>
    <div class="div-item"> 23 </div>
    <div class="div-item"> 24 </div>
    <div class="div-item"> 25 </div>
  </div>

</div>
