.div1{
  text-align: center;
  margin-bottom: 1vh;
}

.div2{
  margin: 5vh 0;
}

.div-banco-general{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 14vh;
  width: 90%;
  margin: auto;
}

.div-banco1{
  background-image: url("../../../../assets/financiamiento/bancos1.png");
}

.div-banco2{
  background-image: url("../../../../assets/financiamiento/bancos3.png");
}

.div-banco3{
  background-image: url("../../../../assets/financiamiento/bancos4.png");
}

.div-banco4{
  background-image: url("../../../../assets/financiamiento/bancos2.png");
}

.div-banco5{
  background-image: url("../../../../assets/financiamiento/bancos7.png");
  width: 88% !important;
  height: 12vh !important;
}

.titulo1{
  color: #2f2f2f;
  font-size: 3.4vh;
}

@media only screen and (max-width: 1101px) {
  .div-banco-general{
    height: 4vh;
    width: 90%;
  }
  .div-banco5{
    width: 88% !important;
    height: 3vh !important;
  }
  .titulo1{
    font-size: 142%;
  }
}
