
<div class="div1">
  <h1 class="titulo1">Servicio completo</h1>
  <span class="texto1">Vende tu casa con nosotros y también te ayudamos a <br>
    encontrar tu siguiente nuevo hogar</span>

  <div class="row div2">
    <div class="col">
      <div class="div2-yellow margin-left">Vendemos tu <br>casa al mejor precio</div>
    </div>
    <div class="col">
      <div class="div2-yellow">Recibe oferta de <br>nuevas propiedades</div>
    </div>
    <div class="col">
      <div class="div2-yellow margin-right">Te ayudamos a <br>obtener crédito <br>hipotecario</div>
    </div>
  </div>

  <button type="button" onClick="window.open('https://wa.me/+523313668572')" class="btn_whatsapp">COMIENZA AHORA</button>

</div>
