
<div class="div1">
  <h1 class="titulo1 Montserrat-ExtraBold">Servicio completo</h1>
  <span class="texto1 Montserrat">Vende tu casa con nosotros y también te ayudamos a <br>
    encontrar tu siguiente nuevo hogar</span>

  <div class="row div2">
    <div class="col">
      <div class="div2-yellow margin-left">
        <img class="img-b4" src="../../../../assets/vende/casita_Mesa%20de%20trabajo%201.svg">
        <p class="p-b4 Montserrat">Vendemos tu <br>casa al mejor precio</p>
      </div>
    </div>
    <div class="col">
      <div class="div2-yellow">
        <img class="img-b4" src="../../../../assets/vende/dinero_Mesa%20de%20trabajo%201.svg">
        <p class="p-b4 Montserrat">Recibe oferta de <br>nuevas propiedades</p>
      </div>
    </div>
    <div class="col">
      <div class="div2-yellow margin-right">
        <img class="img-b4" src="../../../../assets/vende/seguro_Mesa%20de%20trabajo%201.svg">
        <p class="p-b4 Montserrat">Te ayudamos a <br>obtener crédito <br>hipotecario</p>
      </div>
    </div>
  </div>

  <button type="button" onClick="window.open('https://wa.me/+523313668572')" class="btn_whatsapp">COMIENZA AHORA</button>

</div>
