<section class="section-2">

<div class="div-back-b2">
  <div class="div-middle-b2"></div>
  <div class="div-front-b2">
    <h1 class="titulo-b2 Montserrat-ExtraBold">¡Anímate a tener <br>tu propio espacio!</h1>
    <br>
    <h5 class="texto-b2 Montserrat-Medium">Tienes dudas o no has podido encontrar el inmueble<br class="br-hidden">
      perfecto, contáctanos, uno de nuestros asesores te<br class="br-hidden">
      brindará el apoyo que necesitas <span class="span-b2 Montserrat-BoldItalic">¡sin costo!</span></h5>
    <br>
    <button type="button" onClick="window.open('https://wa.me/+523313668572')" class="btn_whatsapp Montserrat-Bold">WHATSAPP</button>
  </div>
</div>

</section>
