<div class="section-3 section-general">
  <h1 class="titulo1 Montserrat-Bold">¿Necesitas financiamiento <br class="br-hidden">para este inmueble?</h1>
  <button onClick="window.open('https://wa.me/+523313668572')" class="btn_whatsapp">WHATSAPP</button>
  <span class="texto1 Montserrat">Contácta a un asesor hipotecario afiliado</span>
</div>

<div class="w-100 div1-b3">
  <p class="texto2 Montserrat">También podría interesarte</p>
</div>

<div class="w-100 div2-b3">
  <div class="div-general-b3">
    <img class="img-b5" src="../../../../assets/casas/bedroom.jpg">
    <div class="div-venta-b3">
      <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
      <img class="corazon-b3" src="../../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
      <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
    </div>
    <div class="w-100 div-info">
      <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
    </div>
  </div><div class="div-space"></div>
  <div class="div-general-b3">
    <img class="img-b5" src="../../../../assets/casas/backyard.jpg">
    <div class="div-venta-b3">
      <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
      <img class="corazon-b3" src="../../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
      <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
    </div>
    <div class="w-100 div-info">
      <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
    </div>
  </div><div class="div-space"></div>
  <div class="div-general-b3">
    <img class="img-b5" src="../../../../assets/casas/livingroom.png">
    <div class="div-venta-b3">
      <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
      <img class="corazon-b3" src="../../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
      <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
    </div>
    <div class="w-100 div-info">
      <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
      <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
    </div>
  </div>
</div>
