.div1{
  background-color: #006666;
  overflow: hidden;
  padding-bottom: 3%;
  text-align: center;
}

.div2{
  text-align: center;
  background-color: #FFFFFF;
  margin: 6vh 0;
}

.div3-b3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 55vh;
}

.div-general{
  background-repeat: no-repeat;
  background-size: cover;
}

.div-img1{
  background-image: url("../../../../assets/remodela/hands-of-professional-plumber-fixing-pipes-plumbing-repair-service.jpg") ;
}

.div-img2{
  background-image: url("../../../../assets/remodela/male-carpenter-cuts-wood-with-an-electric-jigsaw-working-with-tree.jpg") ;
}

.div-img3{
  background-image: url("../../../../assets/remodela/male-tiler-using-trowel-laying-marble-tile-with-cement-in-bathroom-housing-development-interior-improvement-renovation.jpg") ;
}

.texto1{
  color: #606060;
  font-size: 4vh;
  line-height: 1.2;
}

.titulo1{
  font-size: 8vh;
  color: white;
  padding-top: 3%;
  line-height: 1.3;
}

@media only screen and (max-width: 1101px) {
  .div1 {
    margin-top: -3%;
  }
  .div2{
    margin: 2vh 0;
  }
  .div3-b3{
    grid-auto-rows: 15vh;
  }
  .div-general{
    height: 15vh;
  }
  .texto1{
    padding: 0 2%;
    font-size: 88%;
  }
  .titulo1{
    font-size: 130%;
    line-height: normal;
  }
}
