<div class="div1">
  <h1 class="titulo1 Montserrat-ExtraBold">
    Renueva tu hogar o diseña espacios<br class="br-hidden">
    increíbles, para vivir nuevos momentos
  </h1>
</div>

<div class="div2 w-100">
  <span class="texto1 Montserrat">
    En Espacio Asesores te brindamos soluciones arquitectónicas completas desde<br class="br-hidden">
    la construccion de una casa hasta una remodelación parcial o total.
  </span>
</div>

<div class="w-100">
  <div class="div3-b3">
    <div class="div-general div-img1">
    </div>
    <div class="div-general div-img2">
    </div>
    <div class="div-general div-img3">
    </div>
  </div>
</div>
