<div class="w-100">
  <div class="div1-b1">
    <h1 class="titulo1 Montserrat-ExtraBold">Bienvenido a tu nuevo hogar</h1>
    <span class="texto1 Montserrat-Bold">Te gustaría conocer esta propiedad, agenda una cita</span>
  </div>

  <div class="div1-b3 div-responsive">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../../assets/casas/departamentos.jpg">
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../../assets/casas/grassland.png">
    </div>
  </div>

  <div class="div2-b3 div-responsive">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../../assets/casas/bedroom.jpg">
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../../assets/casas/backyard.jpg">
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../../assets/casas/livingroom.png">
    </div>
  </div>
</div>
