.div1-b1{
  margin: 3.8vh 0;
  padding: 0 7%;
}

.div-c1{
  height: 80vh;
}

.div-c2{
  height: 55vh;
  width: 33.33%;
}

.div-general{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.img-b5{
  height: 100%;
  width: 100%;
}

.texto1{
  color: #606060;
  font-size: 4vh;
}

.titulo1{
  color: #006666;
  font-size: 8vh;
  text-align: left;
}

.width-33{
  width: 33%;
}

.width-67{
  width: 67%;
}

@media only screen and (max-width: 1101px) {

  .div1-b1{
    margin: 0 0;
  }
  .div-general{
    height: 40vh;
    width: 100%;
  }
  .div-responsive{
    grid-auto-rows: 350px;
    grid-template-columns: 1fr;
  }
  .texto1{
    font-size: 90%;
    margin-left: 0;
    padding-top: 0;
  }
  .titulo1{
    font-size: 130%;
    margin-left: 0;
    padding-top: 0;
  }
}
