<div class="w-100">
  <div class="div1-b1">
    <h1 class="titulo1 Montserrat-ExtraBold">Bienvenido a tu nuevo hogar</h1>
    <span class="texto1 Montserrat-Bold">Te gustaría conocer esta propiedad, agenda una cita</span>
  </div>



  <div id="carouselExampleControls" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="div-c1 div-general width-67">
          <img class="img-b5" src="../../../../assets/casas/departamentos.jpg">
        </div>
        <div class="div-c1 div-general width-33">
          <img class="img-b5" src="../../../../assets/casas/grassland.png">
        </div>

        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/bedroom.jpg">
        </div>
        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/backyard.jpg">
        </div>
        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/livingroom.png">
        </div>

      </div>
      <div class="carousel-item">

        <div class="div-c1 div-general width-67">
          <img class="img-b5" src="../../../../assets/casas/departamentos.jpg">
        </div>
        <div class="div-c1 div-general width-33">
          <img class="img-b5" src="../../../../assets/casas/grassland.png">
        </div>

        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/bedroom.jpg">
        </div>
        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/backyard.jpg">
        </div>
        <div class="div-c2 div-general">
          <img class="img-b5" src="../../../../assets/casas/livingroom.png">
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
