<section class="content w-100 section-2" role="main">

<div class="div-back-b2">
  <div class="div-middle-b2"></div>
  <div class="div-front-b2">
    <h1 class="titulo-b2">¡Anímate a tener <br>tu propio espacio!</h1>
    <br>
    <h5 class="texto-b2">Tienes dudas o no has podido encontrar el inmueble<br>
      perfecto, contáctanos, uno de nuestros asesores te<br>
      brindará el apoyo que necesitas <span class="span-b2">¡sin costo!</span></h5>
    <br>
    <button type="button" class="btn_whatsapp">WHATSAPP</button>
  </div>
</div>

</section>
