.div-back{
  border-radius: 50px;
  background-image: url("../../../../assets/hogar/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 65%;
  alignment: right;
  display: inline-block;
  position: absolute; right: 5%; top: 18%;
  z-index: 1;
}

@media only screen and (max-width: 1101px){
  .div-back{
    display: none;
  }
}
