<div class="w-100 div1">
  <div>
    <h1 class="titulo1 Montserrat-ExtraBold">La manera más fácil y objetiva<br class="br-hidden">
      de obtener tu crédito hipotecario</h1>
    <span class="texto1 Montserrat-Bold">Obtén tu asesoria de uno de nuestros brokers afiliados</span>
  </div>
</div>

<div class="div2 w-100">
  <div class="div2-background">
    <img class="img-remodela" src="../../../../assets/remodela/proyecto-arquitectura.jpg">
  </div>
</div>

<div class="green-section">
  <h1 class="titulo2 Montserrat-Bold">¿Necesitas financiamiento <br class="br-hidden">para tu próximo hogar?</h1>
  <span class="texto2 Montserrat">El servicio no tiene NINGÚN COSTO</span>
</div>
