 <div class="div1-b3 div-responsive">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/departamentos.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic right2">A 120 personas les gusta</a>
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/grassland.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
      </div>
    </div>
  </div>

  <div class="div2-b3 div-responsive">
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/bedroom.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/backyard.jpg">
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
      </div>
    </div>
    <div class="div-general-b3">
      <img class="img-b5" src="../../../assets/livingroom.png">
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
      </div>
    </div>
  </div>
