 <div class="w-100 div2-b3">
    <div class="div-c1 div-general width-66">
      <a href="/inmueble"><img class="img-b5" src="../../../assets/casas/departamentos.jpg"></a>
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic right2">A 120 personas les gusta</a>
      </div>
      <div class="w-100 div-info width-34">
        <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
      </div>
    </div>
   <div class="div-space"></div>
    <div class="div-c1 div-general width-32">
      <a href="/inmueble"><img class="img-b5" src="../../../assets/casas/grassland.png"></a>
      <div class="div-venta-b3">
        <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
        <img class="corazon-b3" src="../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
        <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
      </div>
      <div class="w-100 div-info">
        <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
        <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
      </div>
    </div>
  </div>

 <div class="w-100 div2-b3">
   <div class="div-c2 div-general">
     <a href="/inmueble"><img class="img-b5" src="../../../assets/casas/bedroom.jpg"></a>
     <div class="div-venta-b3">
       <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
       <img class="corazon-b3" src="../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
       <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
     </div>
     <div class="w-100 div-info">
       <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
     </div>
   </div><div class="div-space"></div>
   <div class="div-c2 div-general">
     <a href="/inmueble"><img class="img-b5" src="../../../assets/casas/backyard.jpg"></a>
     <div class="div-venta-b3">
       <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
       <img class="corazon-b3" src="../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
       <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
     </div>
     <div class="w-100 div-info">
       <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
     </div>
   </div><div class="div-space"></div>
   <div class="div-c2 div-general">
     <a href="/inmueble"><img class="img-b5" src="../../../assets/casas/livingroom.png"></a>
     <div class="div-venta-b3">
       <p class="p-venta-b3 Montserrat-BoldItalic">Venta $1,300 por m2</p>
       <img class="corazon-b3" src="../../../assets/casas/VISTA.WEB.ESPACIO-08.svg">
       <a class="texto-valoracion Montserrat-BoldItalic">A 120 personas les gusta</a>
     </div>
     <div class="w-100 div-info">
       <div class="div-subinfo width-25 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-18.svg">120m</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-20.svg">3</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-19.svg">2</div>
       <div class="div-subinfo width-22 Montserrat-Bold"><img class="img-info my-4" src="../../../assets/inmueble/ICONOS%20EASESORES-21.svg">1</div>
     </div>
   </div>
 </div>
